

.recommended-friends {
    margin: 25px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
}

.recommended-friends span {
    margin: 80px 0;
    display: block;
    text-align: center;
    font-size: 18px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin: 0 25px;
    margin-bottom: 25px;
}

.open-chat__header span {
    color: var(--font-color);
}

.open-post {
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 25px;
}


.open-post__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--yellow);
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-right: 5px;
    object-fit: cover;
}

.open-post__members-count {
 opacity: 0.5;   
 font-size: 14px;
}

.open-post__members .divider {
width: 2px;
height: 10px;
background-color: rgba(73, 73, 73);
margin: 10px;
}

.open-post__members-status {
    color: var(--yellow);
    font-size: 14px;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right: 5px;
    object-fit: cover;
}

.open-post__heart-count {
    background-color: var(--yellow);
    opacity: 0.7;
    color: black;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
}

.open-post:last-child {
    border-top: var(--main-border);
    padding: 20px 0px;
}

.open-post__heart-count i {
    margin-right: 3px;
}

.recommended-friends__friends {
    margin-top: 30px;
}

.recommended-friends__friends > img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
    object-fit: cover;
}

.recommended-friends > .user-component {
    margin-top: 30px;
}
