
.find-icons {
    display: flex;
    justify-content: space-between;

}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--horizontal-space);
}

.find-icons__icon span {
    margin-top: 20px;
    /*아이콘도 이런식으로 사이즈 조절이 가능하다. font-size
    단, class를 안 적고 i {}로 적으면 모든 아이콘 사이즈가 바뀜*/
}

.recommended-friends {
    margin: 25px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color:  var(--font-color);
}

.recommended-friends span {
    margin: 80px 0;
    display: block;
    /*span은 inline이므로 margin 적용안됨*/
    text-align: center;
    color:  var(--font-color);
    font-size: 18px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin: 0 25px;
    margin-bottom: 25px;
}

.open-chat__header span {
    color: var(--font-color);
}

.open-post {
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 25px;
}


.open-post__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    color: var(--font-color);
    /*디자인 요소는 html에 소문자로 적고 css에서 대문자로 바꿔준다*/
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-right: 5px;
    object-fit: cover;
}

.open-post__members-count {
 opacity: 0.5;   
 font-size: 14px;
}

.open-post__members .divider {
width: 2px;
height: 10px;
background-color: var(--font-color);
margin: 10px;
}

.open-post__members-status {
    color: blue;
    font-size: 14px;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right: 5px;
    object-fit: cover;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    color: white;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
}

.open-post:last-child {
    border-top: var(--main-border);
    padding: 20px 0px;
}