#friends-display-link {
    display: block;
    text-align: center;
    background-color: rgb(73, 73, 73);
    padding: 15px 0px;
    font-size: 18px;
    margin: 0px 25px;
    margin-bottom: 15px;
    margin-top: -15px;
    border-radius: 5px;

}

#friends-display-link i {
    color: rgba(255, 255, 255, 0.5);
}

.fa-info-circle {
    margin-right: 10px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channerl{
    margin-top: 5px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channerl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

@keyframes hidesplashscreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes splashscreenimg {
    0% {
        transform: rotate(0deg);
        }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
        
}

#splash-screen > img {
    animation: splashscreenimg 1s ease-in-out ;
}


#splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    animation: hidesplashscreen 0.5s ease-in-out forwards;
    animation-delay: 1.2s;
}
