#friends-display-link {
    display: block;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px 0px;
    font-size: 18px;
    margin: 0px 25px;
    margin-bottom: 15px;
    margin-top: -15px;

}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channerl{
    margin-top: 5px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channerl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.5);
}