
.icons-raw {
    display: flex;
    justify-content: space-between;

}

.icons-raw__icon {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--horizontal-space);
}

.icons-raw__icon span {
    margin-top: 20px;
    text-align: center;
    }

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 30px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: flex;
    margin-right: 50px;
}

.more-suggestions__icon {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-image {
    width: 60px;
    height:60px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-suggestions__icon-image > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.more-suggestions__icon-image i{
    font-size: 28px;
    color: white;
}

.more-suggestions__icon-text {
    display: block;
    margin-top: 20px;
}

.icons-raw__icon:hover {
    animation: irowani 1s ease-in-out;
}

@keyframes irowani {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}