.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
    border-top: var(--main-border);
}

.nav i {
    color: white;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2e363e;

}
.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px
}
.nav__notice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: white;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: 35px;
    bottom: 25px
}
