.status-bar {
    position: sticky;
    /*상하좌우 주어진 임계치에 도달하면 그 자리에 고정되는 속성*/
    top:0px;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span
{ margin-right:  5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-lock, .fa-battery-full, .fa-bolt  {
    margin: 0px 5px;
}

.fa-battery-full, .fa-bolt {
    color: rgb(0, 197, 0);
}